* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html body {
  font-family: "Lato", sans-serif;
  color: #505050;
  background-color: #FBF8EF;
  text-align: center;
}
html body header nav {
  background-color: #0C1214;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
html body header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
html body header nav ul li {
  margin: 0 5px;
  font-size: 1.6rem;
}
html body header nav ul li:first-child {
  margin-right: auto;
}
html body header nav ul li a {
  display: block;
  padding: 1.5rem 2rem;
  color: #E0E0E0;
  text-decoration: none;
  transition: all 1s;
}
html body header nav ul li a:hover {
  color: #0C1214;
  background-color: rgb(241.2, 230.85, 199.8);
  border-radius: 10px;
}
html body header nav ul li a:has(img.logo):hover {
  background: none;
}
@media (max-width: 767px) {
  html body header nav ul li a {
    padding: 1rem;
    font-size: 1.4rem;
  }
}
html body header nav ul li a .logo {
  display: block;
  width: 163px;
}
@media (max-width: 767px) {
  html body header nav ul li a {
    padding: 1rem;
    font-size: 1.4rem;
  }
}
html body hr {
  margin: 0;
  padding: 0;
}
html body main {
  margin-top: 70px;
}
html body main a {
  color: #0077B6;
  text-decoration: none;
}
html body main .banner, html body main .banner-servicios, html body main .banner-index {
  background-position: bottom;
  background-size: cover;
  height: 30vw;
  animation: expande 5s ease 0s infinite alternate both;
}
html body main .banner-index {
  background-image: url("../medios/banner.png");
}
html body main .banner-servicios {
  background-image: url("../medios/banner2.png");
}
html body main section {
  display: block;
  font-size: 1.5rem;
  padding: 20px;
}
html body main section h1, html body main section h2, html body main section h3, html body main section h4, html body main section h5 {
  padding: 20px;
  text-align: center;
}
html body main section h1 {
  font-size: 4rem;
  color: #202020;
}
html body main section h2 {
  font-size: 3rem;
  color: #E65D15;
}
html body main section h3 {
  font-size: 2.5rem;
  color: rgb(250.397260274, 143.7671232877, 91.602739726);
}
html body main section h4 {
  font-size: 2rem;
  color: #202020;
  text-align: left;
  font-weight: bolder;
}
html body main section h5 {
  font-size: 1.7rem;
  color: #505050;
  text-align: left;
}
html body main section .label {
  font-weight: 800;
}
html body main section .texto-alineado-izquierda {
  text-align: left;
}
html body main section .texto-resaltado {
  font-weight: bolder;
}
@keyframes expande {
  0% {
    background-position: center bottom;
    background-size: 100%;
  }
  100% {
    background-position: center bottom;
    background-size: 150%;
  }
}
html body main section .logoseccion {
  width: 200px;
  margin: 30px;
}
html body main .link-fijo {
  position: fixed;
  top: 90%;
  right: 15px;
  padding: 10px;
  z-index: 1000;
}
html body footer {
  display: block;
  background-color: #E0E0E0;
  width: 100%;
  font-size: 1.3rem;
}
html body footer .footer-contenedor {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-template-areas: "item1 item2 item3" "item4 item5 item5";
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 767px) {
  html body footer .footer-contenedor {
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
  }
}
html body footer .item1 {
  grid-area: item1;
}
html body footer .item2 {
  grid-area: item2;
}
html body footer .item3 {
  grid-area: item3;
  background: #E0E0E0;
}
html body footer .item4 {
  grid-area: item4;
  background: #505050;
  color: #E0E0E0;
}
html body footer .item5 {
  grid-area: item5;
}
html body footer a {
  color: #606060;
  text-decoration: none;
}
html body footer .logofooter {
  width: 163px;
}
@media (max-width: 767px) {
  html body footer .logofooter {
    width: 200px;
  }
}
html body footer .datos-servicio {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
html body footer .datos-servicio li {
  margin-bottom: 4px;
}
html body footer .datos-servicio strong {
  color: #0C1214;
}
html body footer .datos-servicio a {
  color: #E0E0E0;
  text-decoration: none;
}
html body footer .datos-servicio a:hover {
  text-decoration: underline;
}
html body footer .reclamo {
  margin-top: 15px;
  font-size: 1.3rem;
  color: #505050;
}
html body footer .label {
  font-weight: 800;
}
html body footer .recuadro {
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
}
@media (max-width: 767px) {
  html body footer .recuadro {
    width: 100%;
    box-sizing: border-box;
  }
}
html body footer .contacto-footer {
  list-style: none;
}

.perfiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E0E0E0;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 800px;
}

.perfil-foto {
  width: 120px;
  height: auto;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
}

.perfil-nombre {
  margin-top: 8px;
  font-weight: bold;
  font-size: 1.6rem;
}

.perfil-descripcion {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 50px;
  text-align: left;
}

.seccion-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 20px 0;
}

.seccion-texto {
  flex: 1;
  text-align: left;
}

.seccion-imagen img {
  max-height: 780px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .seccion-contenedor {
    grid-template-columns: 1fr;
  }
  .seccion-imagen {
    display: none;
  }
}
.seccion-contactenos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.form-contactenos {
  text-align: left;
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

@media (max-width: 768px) {
  .seccion-contactenos {
    grid-template-columns: 1fr;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

label {
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #202020;
}

input[type=button],
input[type=submit] {
  background-color: #F96E2A;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
  transition: all 500ms ease-in-out;
}
@media (min-width: 768px) {
  input[type=button]:hover,
  input[type=submit]:hover {
    background-color: #E65D15;
    transform: scale(1.2);
  }
}

@media (max-width: 767px) {
  input[type=text],
  input[type=email],
  input[type=number] {
    height: 40px;
    font-size: 16px;
  }
  input[type=button],
  input[type=submit] {
    width: 100%;
  }
}
.card {
  text-align: left;
  border-radius: 20px;
  background-color: rgb(253.5, 218.75, 201.75);
  transition: all 1s ease-in-out;
}

@media (min-width: 768px) {
  .card:hover {
    border-radius: 30px;
    border-width: 5px;
    background-color: rgb(251.7, 175.25, 137.85);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
  }
}
.tarjeta {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
  transition: all 1s;
}

.tarjeta:hover {
  transform: scale(1.05);
}

.tarjeta-imagen {
  display: inline-block;
  height: 400px;
  margin: 15px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  text-align: center;
  filter: grayscale(100%);
  transition: filter 1s ease-in-out;
}

@media (max-width: 768px) {
  .tarjeta-imagen {
    filter: grayscale(0%);
  }
}
.tarjeta:hover .tarjeta-imagen {
  filter: grayscale(0%);
}

/*# sourceMappingURL=main.css.map */
