// Colores
$color-negro: #0C1214;
$color-azul: #0077B6;
$color-gris-oscuro: #202020;
$color-gris-medio: #505050;
$color-gris-claro: #606060;
$color-naranja-claro: #F96E2A;
$color-naranja-oscuro: #E65D15;
$color-crema: #FBF8EF;
$color-blanco-opaco: #E0E0E0;
$color-blanco: #FFFFFF;

// Tipografía
$font-main: 'Lato', sans-serif;

// Tamaños base
$font-size-base: 62.5%;
$spacing: 20px;

// Z-index
$z-nav: 1000;